<!-- <div class="grid">
  <div class="col-12">
    <p-button
      icon="pi pi-plus"
      label="New Order"
      styleClass="mb-2 p-button-sm"
    ></p-button>
  </div>
</div> -->
<div class="grid">
  <div class="col-12">
    <p-table [columns]="columns" [value]="orders" [tableStyle]="{ 'min-width': '50rem' }"
      styleClass="p-datatable-gridlines">
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns">
            {{ col.header }}
          </th>
          <!-- <th>Actions</th> -->
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
          <td *ngFor="let col of columns">
            <span *ngIf="col.field !== 'status'; else statusColumn">
              {{ rowData | field : col }}
            </span>
            <ng-template #statusColumn>
              <div class="flex align-items-center">
                <p-chip [label]="orderStatusValues[rowData[col.field]]" styleClass="chip-info">
                </p-chip>
                <button pButton pRipple type="button" icon="pi pi-pencil" class="p-button-rounded ml-3"
                  (click)="onChangeOrderStatus(rowData)"></button>
              </div>
            </ng-template>
          </td>
          <!-- <td>
            <p-button
              icon="pi pi-pencil"
              (onClick)="openEditCustomerModal(rowData)"
            ></p-button>
            <p-button
              icon="pi pi-trash"
              class="ml-2"
              (onClick)="onDelete(rowData)"
            ></p-button>
          </td> -->
        </tr>
      </ng-template>
    </p-table>
    <p-paginator (onPageChange)="onPageChange($event)" [first]="paginationConstants.FIRST_ROW"
      [rows]="paginationConstants.PAGE_LIMIT" [totalRecords]="orderResponseMetadata?.totalItems"></p-paginator>
    <p-toast position="bottom-right"></p-toast>
  </div>
</div>