@if (isLoading()) {
  <div class="grid">
    @for (i of skeletonIndices; track i) {
      <div class="col-12 lg:col-6 xl:col-4">
        <p-skeleton width="20rem" height="8rem"></p-skeleton>
      </div>
    }
  </div>
}
@if (dashboardStats()) {
  <div class="grid">
    @for (item of dashboardStatsArray(); track item.key) {
      <div class="col-12 lg:col-6 xl:col-4">
        <div class="card dashboard-stat-card">
          <div class="dashboard-stat-card__body">
            <div class="dashboard-stat-card__content">
              <span class="dashboard-stat-card__label">{{ item.value?.name }}</span>
              <div class="dashboard-stat-card__value">{{ item.value?.count }}</div>
            </div>
            <div class="dashboard-stat-card__icon" [ngClass]="item.value?.widegtIconBackgroundColor">
              <i class="text-xl" [ngClass]="[item.value?.icon, item.value?.widegtIconTextColor]"></i>
            </div>
          </div>
        </div>
      </div>
    }
  </div>
}

<div class="grid mt-5 dashboard-reports-grid">
  @for (report of reports(); track report.chartId) {
    <div [ngClass]="report.cssClasses">
      <div class="card report-chart-wrapper">
        <cwc-chart-host [reportData]="report"></cwc-chart-host>
      </div>
    </div>
  }
</div>
