<div class="grid">
  <div class="col-12">
    <div class="card" style="height: 80vh; overflow-y: auto">
      <div class="card-content">
        <form [formGroup]="orderForm">
          <div class="grid">
            <div class="col-12 md:col-5">
              <div class="flex flex-column gap-2">
                <label>Select Customer</label>
                <p-autoComplete [style]="{ width: '100%' }" [inputStyle]="{ width: '100%' }"
                  formControlName="selectedCustomer" [dropdown]="true" [suggestions]="customerSuggestions"
                  (completeMethod)="searchCustomer($event)" field="fullName"></p-autoComplete>
              </div>
            </div>
            <div class="col-12 md:col-7">
              <div class="flex flex-column gap-2">
                <label>Select Products</label>
                <p-autoComplete [style]="{ width: '100%' }" [inputStyle]="{ width: '100%' }"
                  formControlName="selectedProducts" [multiple]="true" [suggestions]="productSuggestions"
                  (completeMethod)="searchProducts($event)" (onSelect)="onProductSelect($event)"
                  (onUnselect)="onProductClear($event)" field="name"></p-autoComplete>
              </div>
            </div>
          </div>
          <div class="grid">
            <div class="col-12 md:col-5">
              <div class="flex flex-column gap-2">
                <label>Select Payment Method</label>
                <p-dropdown formControlName="paymentMethod" [options]="paymentMethods" optionLabel="name"
                  dataKey="value"></p-dropdown>
              </div>
            </div>
            <div class="col-12 md:col-7">
              <div class="flex flex-column gap-2">
                <label>Order Description</label>
                <input id="firstname2" type="text" formControlName="description"
                  class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full input-padding-10px" />
              </div>
            </div>
          </div>

          <div class="grid">
            <div class="col-12 md:col-5">
              <div class="flex flex-column gap-2">
                <label>Order Date</label>
                <p-calendar appendTo="body" styleClass="w-full" [showIcon]="true" [maxDate]="maxDate"
                  formControlName="orderDate" inputId="icon"></p-calendar>
              </div>
            </div>
            <div class="col-12 md:col-7">
              <div class="flex flex-column gap-2">
                <label>Select Order Sources</label>
                <!-- <p-dropdown formControlName="orderSourceId" [options]="orderSources" optionLabel="name"
                  optionValue="id"></p-dropdown> -->
                <p-multiSelect [options]="orderSources" formControlName="selectedOrderSources" styleClass="w-full"
                  placeholder="Select Order Sources" optionLabel="name" optionValue="id" display="chip" appendTo="body"
                  [showClear]="true" />
              </div>
            </div>
          </div>
        </form>
        <div class="grid mt-3" *ngIf="selectedProductsControl?.value?.length">
          <div class="col-12" [formGroup]="orderForm">
            <p-tabView styleClass="tabview-custom" (onClose)="onProductTabClose($event)">
              <p-tabPanel *ngFor="let product of selectedProductsControl.value" [closable]="true">
                <ng-template pTemplate="header">
                  <i class="pi pi-calendar"></i>
                  <span>{{ product?.name }}</span>
                </ng-template>
                <ng-container *ngIf="canShowProductDetailsTable">
                  <div class="order-items-table-desktop-view hidden md:block sm:hidden">
                    <div [formGroup]="getOrderProductFormGroup(product.name)">
                      <div class="grid flex align-items-end">
                        <div class="col-12 md:col-2">
                          <div class="flex flex-column gap-2">
                            <label>Price</label>
                            <input type="number" formControlName="price" (blur)="calculateOrderTotalAmount()"
                              class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
                          </div>
                        </div>
                        <div class="col-12 md:col-2 d-flex align-items-end">
                          <!-- <div class="flex flex-column gap-2"> -->
                          <button class="w-full md:w-auto" pButton pRipple type="button" icon="pi pi-plus"
                            (click)="addOrderProductRow(product, true)"></button>
                          <!-- </div> -->
                        </div>
                      </div>
                      <ng-container *ngIf="canShowProductDetailsTable">
                        <div class="order-product-table">
                          <div class="grid header-row mt-2">
                            <div class="col-3 column">
                              <h5 class="text-primary">Name</h5>
                            </div>
                            <div class="col-2 column">
                              <h5 class="text-primary">Cost</h5>
                            </div>
                            <div class="col-3 column">
                              <h5 class="text-primary">Customize Name</h5>
                            </div>
                            <div class="col-2 column">
                              <h5 class="text-primary">Color</h5>
                            </div>
                          </div>
                          <div class="grid"
                            *ngFor="let orderProductRowControl of getOrderProductRows(product.name).controls; let i=index">
                            <div class="col-3 column">{{product?.name}}</div>
                            <div class="col-2 column">{{product?.cost}}</div>
                            <div class="col-3" [formGroup]="getOrderProductRowGroup(product.name, i)">
                              <input id="customize-name" type="text" formControlName="customizeName"
                                class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
                            </div>
                            <div class="col-2" [formGroup]="getOrderProductRowGroup(product.name, i)">
                              <input id="color-name" type="text" formControlName="color"
                                class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
                            </div>
                            <div class="col-2 flex align-items-center">
                              <button pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded ml-3"
                                (click)="onRemoveProductRow(i, product.name)" [disabled]="i === 0"></button>
                            </div>
                          </div>
                        </div>
                      </ng-container>
                    </div>
                  </div>
                  <div class="order-items-table-mobile-view block sm:hidden">
                    <div [formGroup]="getOrderProductFormGroup(product.name)">
                      <div class="grid flex align-items-end">
                        <div class="col-12 md:col-2">
                          <div class="flex flex-column gap-2">
                            <label class="font-bold">Price</label>
                            <input type="number" formControlName="price" (blur)="calculateOrderTotalAmount()"
                              class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
                          </div>
                        </div>
                        <div class="col-12 md:col-2 d-flex align-items-end">
                          <!-- <div class="flex flex-column gap-2"> -->
                          <button class="w-full md:w-auto" pButton pRipple type="button" icon="pi pi-plus"
                            (click)="addOrderProductRow(product, true)"></button>
                          <!-- </div> -->
                        </div>
                      </div>
                      <div class="grid mt-2">
                        <div class="col-6">
                          <div class="flex flex-column gap-2">
                            <label class="font-bold">Name</label>
                            <label>{{product?.name}}</label>
                          </div>
                        </div>
                        <div class="col-6">
                          <div class="flex flex-column gap-2">
                            <label class="font-bold">Cost</label>
                            <label>{{product?.cost}}</label>
                          </div>
                        </div>
                      </div>
                      <div class="grid mt-3 order-items-list"
                        *ngFor="let orderProductRowControl of getOrderProductRows(product.name).controls; let i=index">
                        <div class="col-6" [formGroup]="getOrderProductRowGroup(product.name, i)">
                          <div class="flex flex-column gap-2">
                            <label class="font-bold">Customize Name</label>
                            <input id="customize-name" type="text" formControlName="customizeName"
                              class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
                          </div>
                        </div>
                        <div class="col-6" [formGroup]="getOrderProductRowGroup(product.name, i)">
                          <div class="flex flex-column gap-2">
                            <label class="font-bold">Color</label>
                            <input id="color-name" type="text" formControlName="color"
                              class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </p-tabPanel>
            </p-tabView>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <p class="text-3xl text-indigo-400 font-bold">
          Total : {{ orderTotalAmount }}
        </p>
        <div class="action-button-group mb-2">
          <p-button label="Cancel" styleClass="p-button-outlined p-button-sm mr-2" (onClick)="onCancel()"></p-button>
          <p-button icon="pi pi-plus" label="Save" styleClass="p-button-sm" (onClick)="saveOrder()"
            [disabled]="orderForm.invalid"></p-button>
        </div>
      </div>
    </div>
  </div>
</div>
<p-blockUI [blocked]="showSpinner">
  <p-progressSpinner></p-progressSpinner>
</p-blockUI>